node_modules
yarn-error.log
.idea
dist
.DS_Store

packages/near-keyring/config.ts
packages/aptos-keyring/config.ts
packages/arweave-keyring/config.ts

packages/near-keyring/src/Secret.ts
packages/aptos-keyring/src/Secret.ts
packages/arweave-keyring/src/Secret.ts
