node_modules
.idea
dist
.DS_Store
.yalc
yalc.lock

packages/near-keyring/config.ts
packages/aptos-keyring/config.ts
packages/arweave-keyring/config.ts
packages/sol-keyring/config.ts
packages/cosmos-keyring/config.ts

packages/near-keyring/src/Secret.ts
packages/aptos-keyring/src/Secret.ts
packages/arweave-keyring/src/Secret.ts
packages/sol-keyring/src/Secret.ts
packages/cosmos-keyring/src/Secret.ts
